/* google-fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* utilitys */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* top-banner */
.top-football{
    background: #2D25A0;
}
.top-banner{
   display: flex;
   padding: 50px;
}
.title-area{
    width: 485px;
    height: 300px;
    margin-top: 150px;
}
.banner-title{
    font-size: 45px;
    color: white;
}
.live-button{
    background-color: #E02C6D;
    width: 168px;
    height: 44px;
    
}
.title-area a{
    text-decoration: none;
    color: white;
}
.banner{
    margin-top: 153px;

}
.banner img{
    width: 456px;
    height: 338px;
}

/* football-players */
.football-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    /* grid-column-gap: 0px; */
    padding: 70px;
}
.player{
    width: 300px;
    height: 400px;
    padding: 15px;
    background: rgb(236, 234, 234);
    
}
.player img{
    width: 300px;
    height: 256px;
    
}
.live-button  a{
    text-decoration: none;
    color: white;
}

/* bottom-banner */
.bottom-football{
    
    margin-top: -50px;
}
.bottom-banner{
    display: flex;
    padding: 50px;
 }
 .banner-title-bottom{
    font-size: 45px;
    color: black;
}
.bottom-disc{
    width: 400px;
    height: 65px;
}

/* footer */
.footer-sec{
    padding: 50px;
}
.logo img{
    width: 480px;
    height: 110px;
    
}
.copy-text{
    text-align: center;
}
.icons i{
    padding: 5px;
    color: rgb(82, 79, 79);
}



/*--------------------------
        Media Queries 
 ---------------------------*/

  /* Mobile device */
 @media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .football-players{
        grid-template-columns: repeat(1, 1fr);
    }
}

     /* tablet devices */
 @media only screen and (min-width: 688px) and (max-width:992px) {
    .container{
        width: 100%;
    }
    .football-players .top-football{
       grid-template-columns: repeat(2, 1fr);
    }
}